
<!----->

body {
    font-family: "Century Gothic";
    font-size: .9em;
}

#container {
    width: 980px;
    margin: 20px auto;
    
}

#left {
    width: 680px;
    float: left;
    padding: 5px 10px 5px 0;
}

#right {
    width: 280px;
    float: right;
    padding-left: 10px;
}

.label {
    display: block;
    font-weight: 700;
}

input[type=text] {
    border: 1px solid #ccc;
}

#tbl {
    width: 100%;
    border: 1px solid #ccc;
}

    #tbl th {
        border-right: 1px solid #ededed;
        border-bottom: 1px solid #ededed;
    }

    #tbl td {
        border-right: 1px solid #ededed;
        border-bottom: 1px solid #ededed;
    }

.edit {
    background-color: green;
    color: white;
    padding: 3px 10px;
    text-decoration: none;
    outline: none;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.delete {
    background-color: red;
    color: white;
    padding: 3px 10px;
    text-decoration: none;
    align-items: center;
    justify-content: space-between;
}

/*  scroll bar start */
/* width */
#left::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  #left::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  #left::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  #left::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  

/*   end Scroll bar*/